.container {
    display: flex;
    height: 100vh;



}

/* o bloco do menu*/
.primeiracolumna {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 750px;
    background-color: rgb(184, 138, 226);


}

.fotoperfil {
    border-radius: 100%;
    border: 5px solid rgb(240, 14, 221);
    box-shadow: 0 0 0 5px rgb(205, 51, 243);
    margin: 200px auto;
    width: 180px;
    height: 180px;
    align-items: center;


}

#menu {
    text-align: center;


}


.botao {
    border: none;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(205, 51, 243);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 3px;

}

#menu a:hover {
    background-color: blueviolet;
    color: #fff;
    border-radius: 30%;
}

/*segundo bloco conteudo*/


.segundacolumna {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 750px;


}

.nome {
    text-align: center;
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(240, 14, 221);
}
.sobrenome{
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(187, 113, 216);

}
.datos-pessoais {
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(58, 9, 107);
}

.telefone {
    font-size: 20;
    color: rgb(205, 51, 243);
}

.botao-email {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(205, 51, 243);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5px;

}
#icones-redes{
    font-size: 50px;
    color: blueviolet;
    text-align: center;

}
#icones-redes a :hover{
    background-color: rgb(190, 148, 201);
    border-radius: 70%;
}
#descrever-me{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgb(244, 240, 255);
    margin-left: 15px;
}
/* inicio da pagina conhecimentos*/

.terceiracolumna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 750px;
    
}

.listaordenada{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(122, 5, 138);
}

/* inicio da pagina objetivos*/

.quartacolumna{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 750px;
}
.listanaoordenada{
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(122, 5, 138);
}