.container {
    display: flex;
    height: 100vh;



}

/* o bloco dos botões*/
.primeiracolumna {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 750px;
    background-color: rgb(184, 138, 226);


}

.fotoperfil {
    border-radius: 100%;
    border: 5px solid rgb(240, 14, 221);
    box-shadow: 0 0 0 5px rgb(205, 51, 243);
    margin: 200px auto;
    width: 180px;
    height: 180px;
    align-items: center;


}

#menu {
    text-align: center;


}


.botao {
    border: none;
    display: inline-block;
    padding: 10px 25px;
    background-color: rgb(205, 51, 243);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    margin-bottom: 3px;

}

#menu a:hover {
    background-color: blueviolet;
    color: #fff;
    border-radius: 30%;
}

/*segundo bloco*/


.segundacolumna {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 750px;


}

.nome {
    font-size: 90px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(38, 7, 68);
}

.datos-pessoais {
    font-size: 25px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(38, 7, 68);
}

.telefone {
    font-size: 20;
    color: rgb(205, 51, 243);
}

.botao-email {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(205, 51, 243);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 5px;

}
#icones-redes{
    font-size: 50px;
    color: blueviolet;

}
#icones-redes a :hover{
    background-color: rgb(190, 148, 201);
    border-radius: 70%;
}