.container{
display: flex;
height: 100vh;
}

.primeiracolumna{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 700px;
    background-color: rgb(184, 138, 226);
    
}
.fotoperfil{
    border-radius: 100%;
    border: 5px rgb(73, 2, 139);
    margin: 200px auto;
    width: 150px;
    height: 150px;
    align-items: center;

}